@include b('about-slider-section')
{
      padding-bottom: 39px;

      .slider
      {
            .slide-image
            {
                  display: block;
                  width: 100%;
                  height: 717px;
                  max-width: 1137px;
                  margin-left: auto;
                  margin-right: 0px;
                  margin-bottom: 24px;

                  @include lg-desktop
                  {
                        height: 504px;
                        max-width: 827px;
                  }

                  @include desktop
                  {
                        max-width: 100%;
                        height: 56vw;
                  }
            }

            .slide-content
            {
                  width: 100%;
                  max-width: 1022px;
                  margin-left: auto;
                  margin-right: 0px;

                  @include lg-desktop
                  {
                        max-width: 711px;
                  }

                  @include desktop
                  {
                        max-width: 100%;
                  }

                  .slide-content-inner
                  {
                        max-width: 676px;

                        @include lg-desktop
                        {
                              max-width: 470px;
                        }
                  }
            }

		.owl-prev
		{
				left: 197px;
				top: 746px;

				@include lg-desktop
				{
                              top: 529px;
					left: 102px;
				}
		}

            .owl-next
            {
                  right: 102px;
                  top: 746px;

                  @include lg-desktop
                  {
                        top: 529px;
                  }
            }
      }
}

@include b('four-column-text')
{
      padding: 57px 0px;

      @include e('inner')
      {
            @include row;

            .column
            {
                  @include col(3);
                  padding-right: 10px; 

                  &:nth-child(2),
                  &:nth-child(4)
                  {
                        @include tablet
                        {
                              padding-top: 17px;
                        }
                        
                  }

                  &:nth-child(3)
                  {
                        @include mobile
                        {
                              padding-top: 17px;
                        }

                  }
                  
                  .content :last-child
                  {
                        margin-bottom: 0px;
                  }

                  @include tablet
                  {
                        @include col(6);
                  }

                  @include mobile
                  {
                        max-width: 100%;
                        padding-right: 0px;
                  }
            }
      }

      @include m('background-yellow')
      {
            background-color: $yellow; 
      }
}


@include b('people-section')
{
      padding: 57px 0px;

      @include e('inner')
      {

            .person-wrapper
            {
                  display: flex;
                  justify-content: flex-start;
                  margin-bottom: 31px;
                  margin-left: 115px;

                  @include lg-desktop
                  {
                        justify-content: space-between;
                        margin-left: 0px;
                  }

                  @include mobile
                  {
                        flex-wrap: wrap;
                  }

                  &:last-child
                  {
                        margin-bottom: 0px;
                  }

                  @include e('person-image')
                  {
                        width: 214px;
                        height: 214px;
                        border-radius: 100%;
                        flex-shrink: 0;
                        margin-right: 131px;

                        @include lg-desktop
                        {
                              width: 152px;
                              height: 152px;
                              margin-right: 92px;
                        }

                        @include tablet
                        {
                              margin-right: 12px;
                        }
                  }

                  .content
                  {
                        width: 100%;
                        padding-top: 15px;
                        max-width: 676px;

                        p
                        {
                              @include mobile
                              {
                                    font-size: 15px;
                                    line-height: 18px;
                              }
                        }

                        @include lg-desktop
                        {
                              max-width: 100%;
                        }
                  }
                  
                  .content :last-child
                  {
                        margin-bottom: 0px;
                  }
            }
      }

      @include m('background-grey')
      {
            background-color: $grey; 
      }
}


@include b('awards-section')
{
      padding: 57px 0px;

      @include e('inner')
      {
            .title
            {
                  margin-bottom: 36px;
            }

            .awards-wrapper
            {
                  @include row;

                  @include e('award')
                  {
                        @include col(3);
                        margin-bottom: 24px;
                        line-height: 150%; 

                        &:nth-last-child(-n+4)
                        {
                              margin-bottom: 0px;
                        }

                        @include mobile
                        {
                              @include col(6);

                              &:nth-last-child(-n+4)
                              {
                                    margin-bottom: 24px;
                              }

                              &:nth-last-child(-n+2) 
                              {
                                    margin-bottom: 0px;
                              }

                        }

                        @include mobile-small
                        {
                              max-width: 100%;

                              &:nth-last-child(-n+2) 
                              {
                                    margin-bottom: 24px;
                              }

                              &:last-child
                              {
                                    margin-bottom: 0px;
                              }
                        }

                        a
                        {
                              color: $black;
                              text-decoration: none;

                              &:hover
                              {
                                    background: $black;
                              }
                        }
                  }
            }
      }

      @include m('background-white')
      {
            background-color: $white; 
      }
}