@include b('blog-wrapper')
{
      margin-bottom: 24px;

      .inner-wrapper
      {
            @include lg-desktop
            {
                  max-width: 100%;
                  padding: 0px;
            }
      }

      @include e('ajax-wrapper')
      {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .blog-item
            {
                  width: 50%;
                  height: 436px;
                  position: relative;

                  &.active
                  {
                        .blog-item__overlay
                        {
                              opacity: 1;
                              pointer-events: auto;
                              visibility: visible;
                        }
                  }

                  @include lg-desktop
                  {
                        height: 30vw;
                  }

                  @include desktop
                  {
                        width: 100%;
                        height: 56vw;
                  }

                  @media (max-width: 700px)
                  {
                        height: 300px;
                  }

                  h2
                  {
                        font-size: 22px;
                        line-height: 100%;
                        background: $white;
                        display: block;
                        position: absolute;
                        right: 0px;
                        top: 0px;
                        min-width: 156px;
                        padding-right: 36px;

                        @include lg-desktop
                        {
                              font-size: 15px;
                        }
                  }

                  &:nth-child(even)
                  {
                        .blog-item__overlay
                        {
                              transform: translateX(-100%);
                        }
                  }

                  @include e('overlay')
                  {
                        background: $yellow;
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        transform: translateX(100%);
                        z-index: 3;
                        opacity: 0;
                        visibility: hidden;
                        @include transition(all, 300ms);

                        @include m('active') 
                        {
                              opacity: 1;
                              visibility: visible;
                        }

                        @include desktop
                        { 
                              transform: none!important;
                        }

                        @media (max-width: 700px)
                        {
                              height: auto;
                        }

                        .share-wrapper
                        {
                              position: absolute;
                              left: 40px;
                              bottom: 20px;
                              margin-top: 0px;
                              justify-content: flex-start;
                              width: auto;

                              @media (max-width: 700px)
                              {
                                    left: 15px;

                                    .share-items
                                    {
                                          li
                                          {
                                                width: auto;
                                          }
      
                                          .list-title
                                          {
                                                width: auto;
                                          }
                                    }
                              }

                              @include lg-desktop
                              {
                                    bottom: 25px;
                              }


                        }

                        .close-overlay
                        {
                              position: absolute;
                              color: $black;
                              right: 42px;
                              top: 30px;
                              text-decoration: none;

                              .span-close
                              {
                                    width: 13px;
                                    height: 13px;
                                    display: block;
                                    background: url(../images/minus.svg) no-repeat center;
                                    background-size: contain;
                              }

                              @include lg-desktop
                              {
                                    right: 42px;
                              }
                        }

                        .overlay-inner
                        {
                              padding: 70px 40px 50px;
                              display: flex;
                              justify-content: space-between;
                              flex-wrap: wrap;

                              @include lg-desktop
                              {
                                    padding: 70px 40px 50px;
                              }

                              @media (max-width: 700px)
                              {
                                    padding-left: 15px;
                                    padding-bottom: 65px;
                              }

                              .overlay-column
                              {
                                    width: 293px;

                                    @include lg-desktop
                                    {
                                          width: 49%;
                                    }


                                    @include desktop
                                    {
                                          width: calc(50% - 6px);

                                          p
                                          {
                                                font-size: 20px;
                                                line-height: 24px;
                                          }
                                    }

                                    @media (max-width: 700px)
                                    {
                                          width: 100%;
                                          p
                                          {
                                                font-size: 15px;
                                                line-height: 18px;
                                          }
                                    }
                              }
                        }
                  }
            }
      }
}