@include b('contact-image-section')
{
      margin-bottom: 55px;
      .contact-image-section__image-wrapper
      {
            display: flex;
            justify-content: flex-end;

            .contact-featured-image
            {
                  height: 717px;
                  width: 1137px;

                  @include lg-desktop
                  {
                        width: 827px;
                        height: 504px;
                  }

                  @include tablet
                  {
                        height: 57vw;
                  }
            }
      }
}

@include b('contact-featured-text-wrapper')
{
	margin-bottom: 96px;

	@include tablet
	{
		margin-bottom: 48px;
	}

	.inner-wrapper
	{
		width: 100%;
		display: flex;
		justify-content: flex-end;
	}

	.contact-featured-text-inner
	{
		max-width: 807px;
		margin-right: 214px;
            font-size: 28px;
            line-height: 36px;
            
            @include lg-desktop
            {
                  max-width: 711px;
                  padding-right: 80px;
                  font-size: 20px;
                  line-height: 24px;
                  margin: 0px;
            }
            
            p
            {
                  font-size: 28px;
                  line-height: 36px;
                  
                  @include lg-desktop
                  {
                        font-size: 20px;
                        line-height: 24px;
                  }

                  &:last-child
                  {
                        margin-bottom: 0px;
                  }
            }

		@include tablet
		{
			padding-right: 0px;
		}
	}
}

@include b('contact-columns-section')
{
      background: $yellow;
      padding: 57px 0px;

      @include e('inner')
      {
            @include row;

            .column
            {
                  @include col(6);
                  display: flex;
                  flex-direction: column;

                  @include mobile
                  {
                        max-width: 100%;
                  }

                  a
                  {
                        display: block;
                        color: $black;
                        text-decoration: none;
                        word-break: break-all;
                  }

                  @include e('title')
                  {
                        @include font-size($p-font-sizes);
                        margin-bottom: 12px;
                  }
            }

            .column-1
            {
                  @include mobile
                  {
                        margin-bottom: 24px;
                  }

                  .address-wrapper
                  {
                        margin-bottom: 12px;
                  }

                  .connect-wrapper
                  {
                        margin-top: 48px;

                        ul
                        {
                              display: flex;
                              justify-content: flex-start;
                              font-size: 28px;
                              list-style: none;
                              padding: 0px;
                              margin: 0px;

                              @include lg-desktop
                              {
                                    font-size: 20px;
                              }

                              .list-title
                              {
                                    width: 214px;

                                    @include lg-desktop
                                    {
                                          width: 149px;
                                    }
                              }

                              li
                              { 
                                    width: 99px;
                                    margin-right: 12px;

                                    @include lg-desktop
                                    {
                                          width: 68px;
                                    }
                                    a
                                    {

                                    }
                              }
                        }

                        @include mobile
                        {
                              margin-top: 24px;
                        }
                  }
            }

            .international-inquiries
            {

            }

            .national-inquiries
            {
                  margin-bottom: 48px;
                  .phone
                  {
                        margin-top: 12px;
                  }
            }


      }
}

.acf-map
{
      height: 406px;

      @include lg-desktop
      {
            height: 288px;
      }
}

@include b('contact-form-wrapper')
{
      background: $grey;
      padding: 57px 0px;
}