// NOTE: Example usage of bem mixin & gird mixin
/*@include b('inner-wrapper'){
  @include row();
}*/

body.home
{
	background: $white;

	@include m('grey-background')
	{
		.container
		{
			background: $grey;
		}

		.header
		{
			background: $grey;
		}
		
	}

	@include m('green-background')
	{
		

		.container
		{
			background: $green;
		}

		.header
		{
			background: $green;
		}
	}

	@include m('animated-background')
	{
		.container
		{
			animation: animated-bg linear 60s;
			animation-iteration-count: infinite;
		}



		.header
		{
			animation: animated-bg linear 60s;
			animation-iteration-count: infinite;
		}

		    
		@keyframes animated-bg{
		0% {
			background-color:  $grey;
		}
		50% {
			background-color:  $green;
		}
		100% {
			background-color:  $grey;
		}
		}
		    
	}
}

@include b('home-slider-section')
{
	padding-bottom: 39px;
	
	.inner-wrapper
	{
		position: relative;
	}

	.slider
	{
		.slide-image
		{
				display: block;
				width: 100%;
				height: 717px;
				max-width: 1137px;
				margin-left: auto;
				margin-right: 0px;

				@include lg-desktop
				{
					height: 504px;
					max-width: 827px;
				}

				@include desktop
				{
					max-width: 100%;
					height: 56vw;
				}
		}

		.slide-content
		{
				width: 100%;
				max-width: 711px;
				margin-left: auto;
				margin-right: 0px;

				@include desktop
				{
					max-width: 100%;
				}

				.slide-content-inner
				{
					max-width: 470px;
				}
		}

		.owl-prev
		{
				left: 197px;
				bottom: 92px;

				@include lg-desktop
				{
					left: 102px;
				}
		}

		.owl-next
		{
				right: 102px;
				bottom: 92px;
		}
	}
}

.home-awards-wrapper
{
	position: absolute;
	top: 300px;
	width: 100%;
	left: 0;
	z-index: 3;
	pointer-events: none;
	padding: 0px 36px;
	@include desktop
	{
		position: static;
		margin-bottom: 36px;
	}

	@include mobile
	{
		padding: 0px 15px;
	}

	.awards-see-more-wrapper
	{
		@include row;
		margin-top: 47px;

		.awards-see-more
		{
			@include col(3);

			color: $black;
			text-decoration: none;
			pointer-events: auto;

			span
			{
				text-decoration: underline;
			}
			
		}

		.home-awards-spacer
		{
			pointer-events: none;
		}
	}

	@include e('awards')
	{
		@include row;
	//	display: flex;
	//	justify-content: space-between;
	//	width: 100%;

		.award-link
		{
			@include col(3);
			color: $black;
			text-decoration: none;
			pointer-events: auto;

			@include desktop
			{
				max-width: 48%;
				margin-bottom: 24px;
			}
		}
	}

}


@include b('home-featured-text-wrapper')
{
	margin-bottom: 96px;

	@include tablet
	{
		margin-bottom: 48px;
	}

	.inner-wrapper
	{
		width: 100%;
		display: flex;
		justify-content: flex-start;

		@include lg-desktop
		{
			justify-content: flex-end;
		}
	}

	.home-featured-text-inner
	{
		max-width: 1008px;
		padding-right: 0px;
		margin-left: 230px;
		font-size: 36px;
		line-height: 47px;

		@include lg-desktop
		{
			max-width: 827px;
			padding-right: 80px;
			font-size: 28px;
			line-height: 36px;
			margin-left: 0px;
		}

		@include tablet
		{
			padding-right: 0px;
		}

		@include mobile
		{
			font-size: 20px;
			line-height: 24px;
		}
	}
}


@include b('home-featured-blocks-section')
{
	.home-featured-block-wrapper
	{
		display: flex;
		justify-content: flex-start;
		padding-left: 80px;
		margin-bottom: 47px;

		@include tablet
		{
			padding-left: 0px;
		}

		.featured-block
		{
			margin-right: 12px;
			width: 329px;
			height: 209px;

			@include lg-desktop
			{
				width: 229px;
				height: 144px;
			}

			@include mobile
			{
				height: 25vw;
			}

			h2
			{
				background: $white;
				line-height: 100%;
				display: block;
				font-size: 28px;
				line-height: 100%;

				@include mobile
				{
					font-size: 15px;
					
				}
			}

			&.featured-block-3
			{
				@include mobile
				{
					margin-right: 0px;
				}
			}
		}
		
		.featured-block-2
		{
			width: 213px;
			height: 328px;

			@include lg-desktop
			{
				width: 148px;
				height: 229px;
			}

			@include mobile
			{
				height: 37vw;
			}
		}
	}
}

@include b('home-featured-video-section')
{
	padding-bottom: 36px;

	@include lg-desktop
	{
		padding-bottom: 0px;
	}

	.inner-wrapper
	{
		@include lg-desktop
		{
			max-width: 100%;
			padding: 0px;
		}
	}

	iframe
	{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform:scale(1.2);

		@include desktop
		{
			
		}
	}

	.home-featured-video-wrapper
	{
		position: relative;
		height: 650px;
		overflow: hidden;

		@include lg-desktop
		{
			height: 49vw;
		}

		@include desktop
		{
			height: 53vw;
		}

		h2
		{
			position: absolute;
			left: 0px;
			z-index: 2;
			top: 0;
			background: $white;
			font-size: 28px;
			line-height: 100%;
			padding-right: 36px;

			@include mobile
			{
				font-size: 15px;
				
			}
		}

		.video-overlay
		{
			display: flex;
			justify-content: center;
			align-items: center;
			opacity: 0;
			visibility: hidden;

			&.active
			{
				opacity: 1;
				visibility: visible;
			}
			
			
			.play-icon
			{
				background: url(../images/play-icon.svg) no-repeat center;
				width: 104px;
				height: 104px;
				display: block;

				@include mobile
				{
					width: 74px;
					height: 74px;
				}
			}
		}
	}

}
