.project-slider-section
{
      .slide
      {
            height: calc(100vh - 84px - 100px);

            @include desktop
            {
                  height: 56vw;
            }
      }

      .slider
      {
            @include desktop
            {
                  &:after
                  {
                        right: 100px;
                  }
            }

            @include mobile
            {
                  &:after
                  {
                        right: 15px;
                  }
            }
      }
      
      .owl-prev
      {
            left: 50%;
            bottom: 104px;
            transform: translateX(calc(-50% - 646px));

            @include lg-desktop
            {
                  transform: translateX(calc(-50% - 448px));
            }
      }

      .owl-next
      {
            right: 50%;
            bottom: 104px;
            transform: translateX(calc(-50% + 470px));

            @include lg-desktop
            {
                  transform: translateX(calc(-50% + 400px));
            }
      }
}

@include b('four-column-text')
{
      @include m('background-grey')
      {
            background-color: $grey; 
      }


}

@include b('share-wrapper')
{
      width: 100%;
      display: flex;
      justify-content: flex-end;
      margin-top: 36px;

      .share-items
      {
            width: 560px;
            display: flex;
            justify-content: flex-start;
            list-style: none;
            margin: 0px;
            padding: 0px;

            @include lg-desktop
            {
                  width: 470px;
            }

            @include tablet
            {
                  width: 100%;
            }

            li
            {
                 width: 99px;
                 margin-right: 12px;
                 font-size: 28px;

                 @include lg-desktop
                 {
                       font-size: 20px;
                       width: 68px;
                 }

                  &.list-title
                  {
                        width: 214px;

                        @include lg-desktop
                        {
                              width: 148px;
                        }
                  }

                  a
                  {
                        color: $black;
                        text-decoration: none;
                        transition: none;
                  }
            }
      }
}