@include b('project-archive-wrapper')
{
      @include e('project')
      {
            height: calc(100vh - 84px - 100px);

            h2
            {
                  font-size: 28px;
                  line-height: 36px;
                  background: $white;
                  display: inline-block;
                  padding-right: 72px;
                  line-height: 100%;

                  @include mobile
                  {
                        font-size: 20px;
                        line-height: 100%;
                  }
            }

            @include tablet
            {
                  height: 56vw;
            }
      }
} 

@include b('load-more-wrapper')
{
      text-align: center;
      padding: 57px 0px 100px;

      span
      {
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            margin-top: 12px;
            display: none;

            @include tablet
            {
                  display: block;
            }
      }

      .ajax-load-more
      {
            background: transparent;
            border: solid 2px #000;
            margin: 0px auto;
            width: 50px;
            height: 50px;
            border-radius: 100%;
            display: block;
            line-height: 100%;
            cursor: url(../images/load-more.png), auto!important;  

            &:hover
            {
                  background: $black;
            }
      }
}