
@include b('footer')
{
      background: $yellow;
      padding-top: 60px;
      padding-bottom: 90px;
      margin-top: 36px;

      @include lg-desktop
      {
            margin-top: 24px;
            padding-top: 36px;
            padding-bottom: 60px;
      }

      @include e('inner-wrapper')
      {
            @include row;

            @include tablet
            {
                  flex-direction: column;
            }
      }

      @include e('logo-wrapper')
      {
            width: 100%;
            max-width: 486px;

            svg {
               height: auto !important;
            }

            @include lg-desktop
            {
                  max-width: 347px;
            }

            @include tablet
            {
                  margin-bottom: 36px;
            }
      }

      @include e('text-wrapper')
      {
            @include col(5);
            padding-top: 4px;

            @include lg-desktop {
               padding-top: 2px;
            }

            p
            {
                  font-size: 21px;
                  line-height: 25px;

                  @include lg-desktop
                  {
                        font-size: 15px;
                        line-height: 18px;
                  }
            }

            @include tablet
            {
                  max-width: 347px;
                  padding-top: 0px;
            }
      }

      @include e('site-credit-wrapper')
      {
            @include row;
            justify-content: flex-end;

            @include tablet
            {
                  justify-content: flex-start;
            }
      }

      @include e('site-credit')
      {
            @include col(5);


            a
            {
                  color: $black;
                  text-decoration: none;
            }

            @include tablet
            {
                  justify-content: flex-start;
                  max-width: 347px;
            }
      }
}
