
@include b('header')
{
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      z-index: 20;
      background-color: $grey;   

      @include e('inner-wrapper')
      {
            @include row;
            height: 84px;
            padding-bottom: 20px;
            align-items: flex-end;

            a
            { 
                  width: 149px;
                  font-size: 20px;
                  color: $black;
                  text-decoration: none;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;

                  span
                  {
                        background: url(../images/plus.svg) no-repeat center;
                        background-size: contain;
                        width: 13px;
                        height: 13px;
                        display: block;
                  }

                  @include mobile
                  {
                        width: 80px;
                  }

            }

            @include mobile
            {
                  height: 40px;
                  padding-bottom: 4px;
            }

      }


}