
.work-nav-wrapper
{
      background: #f7f7f6;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 30;
      height: 100%;
      transform: translateX(-100%) translate3d(0,0,0); 
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
      @include transition(transform, 300ms);

      @include mobile
      {
            width: 100%!important;
      }

      &.active
      {
            transform: translateX(0px) translate3d(0,0,0);
      }

      @include e('inner')
      {
            width: 481px;
            padding-top: 120px;
            position: relative;
            margin-left: auto;
            margin-right: 0px;
            padding-bottom: 12px;

            @include lg-desktop
            {
                  width: 345px;
            }

            @include mobile
            {
                  width: 100%;
                  padding-top: 60px;
                  padding-left: 15px;
                  padding-right: 15px;
            }

      }

      h3
      {
            margin-bottom: 24px;
      }

      .show-hide-work-menu
      {
            width: 149px;
            position: absolute;
            top: 38px;
            left: 0px;
            font-size: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: $black;
            text-decoration: none;

            span
            {
                  background: url(../images/minus.svg) no-repeat center;
                  background-size: contain;
                  width: 13px;
                  height: 13px; 
                  display: block;

                  @include mobile
                  {
                        width: 12px;
                        height: 12px;
                  }
            }

            @include desktop
            {

            }
            
            @include mobile
            {
                  left: 15px;
                  top: 10px;
                  width: 80px;
            }

      }
}

.site-nav-wrapper
{
      background: $white;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 30;
      height: 100%;
      transform: translateX(100%);
      @include transition(transform, 300ms);

      @include mobile
      {
            width: 100%!important;
      }

      &.active
      {
            transform: translateX(0px);
      }

      @include e('inner')
      {
            width: 481px;
            padding-top: 120px;
            position: relative;
            margin-right: auto;
            margin-left: 0px;

            @include lg-desktop
            {
                  width: 345px;
            }

            @include mobile
            {
                  width: 100%;
                  padding-top: 60px;
            }
      }

      .menu-trigger
      {
            width: 149px;
            position: absolute;
            top: 38px;
            right: 0px;
            //right: 96px;
            font-size: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: $black;
            text-decoration: none;

            span
            {
                  background: url(../images/minus.svg) no-repeat center;
                  background-size: contain;
                  width: 13px;
                  height: 13px; 
                  display: block;

                  @include mobile
                  {
                        width: 12px;
                        height: 12px;
                  }
            }
            
            @include mobile
            {
                  right: 15px;
                  top: 10px;
                  width: 80px;
            }
      }

      .site-nav
      {
            ul
            {
                  list-style: none;
                  padding: 0px;
                  margin: 0px;
                  padding-left: 80px;

                  @include desktop
                  {
                        padding: 0px 36px;
                  }

                  @include mobile
                  {
                        padding: 0px 15px;
                  }

                  li
                  {
                        padding: 0px;
                        margin: 0px;
                        margin-bottom: 30px;

                        a
                        {
                              font-size: 28px;
                              line-height: 36px;
                              text-decoration: none;
                              color: $black;
                        }
                  }
            }
      }
}