.single-project
{
      .page-header
      {
            h1
            {
                  max-width: 600px;
            }
      }
}


.page-header
{
      pointer-events: none;
      @include desktop
      {
            padding-top: 36px;
      }
      h1.page-title
      {
            position: absolute;
            top: 180px;
            z-index: 5;
            max-width: 550px;

            @include desktop
            {
                  position: static;
                  margin-bottom: 60px;
                  top: auto;
            }
      }

}
