.project-card
{
      min-height: 250px;
      position: relative;
      margin-bottom: 12px;

      &:last-child
      {
            margin-bottom: 0px;
      }

      @include mobile
      {
            min-height: 57vw;
      }

      .invisible-link
      {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            line-height: 0;
            display: block;
      }

      h2
      {
            font-size: 15px;
            line-height: 100%;
            position: absolute;
            left: 35px;
            top: 0;
            padding-right: 68px;

            @include mobile
            {
                  left: 0;
            }

            &.block-title
            {
                  background: $white;
            }
      }
}