/**
 *  Media Queries and Breakpoints
 */

 // Extra extra small screen / phone
$screen-xxs: 350px;
 
// Extra small screen / phone
$screen-xs: 700px;

// Small screen / tablet
$screen-sm: 800px;

// Medium screen / desktop
$screen-md: 1000px;

// Large screen / wide desktop
$screen-lg: 1440px;

// Extra Large screen / wide desktop
$screen-xlg: 1700px;

/*
// So media queries don't overlap when required, provide a maximum
$screen-sm-min: ($screen-xs + 1);
$screen-md-min: ($screen-sm + 1);
$screen-lg-min: ($screen-md + 1);
$screen-xlg-min: ($screen-lg + 1);
*/

@mixin mobile-small {
  @media (max-width: #{$screen-xxs}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$screen-xs}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$screen-sm}) {
    @content;
  }
}
 
@mixin desktop {
  @media (max-width: #{$screen-md}) {
    @content;
  }
}

@mixin lg-desktop {
  @media (max-width: #{$screen-lg}) {
    @content;
  }
}

@mixin xlg-desktop {
  @media (max-width: #{$screen-xlg}) {
    @content;
  }
}


// NOTE: This is how you use the above
// div.example {
//   width: 100%;
//   @include tablet {
//     width: 50%;
//   }
//   @include desktop {
//     width: 35%;
//   }
// }
