.validation_error
{
	display: none;
}

#gform_wrapper_1
{
      overflow-x: hidden;
}


.validation_message
{
	font-size: 10px;
	bottom: -13px;
	left: 0;
}

.gform_confirmation_message
{
	font-size: 20px;
	line-height: 130%;
}

.gform_wrapper ul.gfield_checkbox li input[type=radio]:checked+label,.gform_wrapper ul.gfield_checkbox li input[type=radio]:not(:checked)+label {


    }

    /*Custom subscribe box for .gform_wrapper class*/
    .gform_wrapper [type="radio"]:not(:checked), [type="radio"]:checked {
	position: absolute!important;
	left: -9999px;
    }

    .gform_wrapper [type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
	position: relative!important;
	padding-left: 35px!important;
      cursor: pointer!important;

      @include lg-desktop
      {
            padding-left: 26px!important;
      }
    }

    .gform_wrapper [type="radio"]:not(:checked) + label:before, [type="radio"]:checked + label:before {
	content: '';
	position: absolute;
	left: 0px;
	top: 3px;
	height: 21px;
	width: 21px;
      border-radius: 100%;
      background: $white;

      @include lg-desktop
      {
            top: 2px;
            height: 15px;
            width: 15px;
      }
    }

    .gform_wrapper [type="radio"]:not(:checked) + label:after, [type="radio"]:checked + label:after {
	content: '';
	position: absolute;
	top: 3px;
	height: 21px;
	width: 21px;
	left: 0px;
	opacity: 1;
	background: $black;
	border-radius: 100%;
      transition: all .2s;

      @include lg-desktop
      {
            top: 2px;
            height: 15px;
            width: 15px;
      }
    }

    /* checked mark aspect changes */
    .gform_wrapper [type="radio"]:not(:checked) + label:after {
	opacity: 0;

    }

    .gform_wrapper [type="radio"]:checked + label:after {
	opacity: 1;

    }

    /* disabled checkbox */
    .gform_wrapper [type="radio"]:disabled:not(:checked) + label:before,
    [type="checkbox"]:disabled:checked + label:before {
	box-shadow: none;
	border-color: #bbb;
	background-color: #ddd;
    }

    .gform_wrapper [type="radio"]:disabled:checked + label:after {
	color: #999;
    }

    .gform_wrapper [type="radio"]:disabled + label {
	color: #aaa;
    }


    .gform_wrapper ul.gfield_checkbox li input[type=radio]:checked+label,.gform_wrapper ul.gfield_checkbox li input[type=radio]:not(:checked)+label {


}

/*Custom subscribe box for .gform_wrapper class*/
.gform_wrapper [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
  position: absolute!important;
  left: -9999px;
}

.gform_wrapper [type="checkbox"]:not(:checked) + label, [type="checkbox"]:checked + label {
  position: relative!important;
  padding-left: 35px!important;
  cursor: pointer!important;

  @include lg-desktop
  {
        padding-left: 26px!important;
  }
}

.gform_wrapper [type="checkbox"]:not(:checked) + label:before, [type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0px;
  top: 3px;
  height: 21px;
  width: 21px;
  border-radius: 100%;
  background: $white;

  @include lg-desktop
  {
        top: 2px;
        height: 15px;
        width: 15px;
  }
}

.gform_wrapper [type="checkbox"]:not(:checked) + label:after, [type="checkbox"]:checked + label:after {
  content: '';
  position: absolute;
  top: 3px;
  height: 21px;
  width: 21px;
  left: 0px;
  opacity: 1;
  background: $black;
  border-radius: 100%;
  transition: all .2s;

  @include lg-desktop
  {
        top: 2px;
        height: 15px;
        width: 15px;
  }
}

/* checked mark aspect changes */
.gform_wrapper [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;

}

.gform_wrapper [type="checkbox"]:checked + label:after {
  opacity: 1;

}

/* disabled checkbox */
.gform_wrapper [type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}

.gform_wrapper [type="checkbox"]:disabled:checked + label:after {
  color: #999;
}

.gform_wrapper [type="checkbox"]:disabled + label {
  color: #aaa;
}





.gform_wrapper
{
	width: 100%;
      margin: 0px auto;

      &.gform_item_wrapper_end
      {
            margin-bottom: 0px!important;
      }

      &.gform_item_wrapper_begin
      {
            width: 444px;
            margin: 0px;

            @include lg-desktop
            {
                  width: 309px;
            }

            @include desktop
            {
                  width: 32%;
            }

            @include mobile
            {
                  width: 100%;
            }
      }

	form
	{
            position: relative;

		.gform_body
		{
                  > ul
                  {
                        @include mobile
                        {
                              flex-wrap: wrap;
                        }

                  }


                  .gform_delete
                  {
                        width: auto;
                  }


                  .ginput_preview
                  {
                        display: flex;
                        justify-content: flex-start;
                        margin-top: 5px;
                        align-items: flex-start;

                        img
                        {
                              margin-top: 3px;
                        }

                        strong
                        {
                              margin-left: 5px;
                              word-break: break-all;
                        }
                  }

                  > .gform_fields
                  {
                        display: flex;
                        justify-content: space-between;
                        list-style: none;
                        padding: 0px;
                        margin: 0px;
                  }

                  .gform_page
                  {
                        width: 309px;
                        box-sizing: border-box;

                        @include tablet
                        {
                              width: 32%;
                        }

                        @include mobile
                        {
                              width: 100%;
                        }
                  }

                  .gform_drop_area
                  {
                        background: $white;
                        height: 36px;
                        width: 100%;
                        max-width: 330px;
                        cursor: url(../images/cursor-link.png), auto!important;

                        @include lg-desktop
                        {
                              max-width: 240px;
                              height: 28px;
                        }

                        @include mobile
                        {
                              max-width: 100%;
                        }

                        &:after
                        {
                              content: 'Choose file';
                              position: absolute;
                              left: 6px;
                              top: 4px;
                        }
                  }

                  .gform_drop_instructions
                  {
                        display: none;
                  }

                  .gform_button_select_files
                  {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        cursor: url(../images/cursor-link.png), auto!important;
                  }

                  .gfield_course_option_wrapper
                  {

                        > ul
                        {
                              display: flex;
                              justify-content: space-between;
                              align-items: flex-start;
                              flex-wrap: wrap;
                              list-style: none;
                              padding: 0px;
                              margin: 0px;

                              li:first-child
                              {
                                    display: none;
                              }

                              > li
                              {
                                    width: 100%;
                                    margin-bottom: 35px;
                                    position: relative;
                                    padding-left: 0px;

                                    @include lg-desktop
                                    {
                                          margin-bottom: 15px;
                                    }

                                    &:after
                                    {
                                          display: none;
                                    }

                                    .ginput_container_date
                                    {
                                          > div
                                          {
                                                display: flex;
                                                justify-content: space-between;
                                                align-items: center;

                                                .ginput_container
                                                {
                                                      width: 31%;
                                                      position: relative;

                                                      label
                                                      {


                                                            color: $black;
                                                            font-size: 15px;
                                                      }

                                                      /*&:after
                                                      {
                                                            position: absolute;
                                                            top: 50%;
                                                            transform: translateY(-50%);
                                                            -webkit-transform: translateY(-50%);
                                                            right: 20px;
                                                            content: '\f107';
                                                            font-family: "FontAwesome";
                                                            pointer-events: none;
                                                      }*/

                                                }
                                          }
                                    }

                                    .gfield_radio
                                    {
                                          padding: 0px;
                                          li
                                          {
                                                display: flex;
                                                justify-content: flex-start;
                                                align-items: flex-start;
                                                margin-bottom: 5px;
                                                padding-left: 0px;
                                                max-width: 290px;

                                                @include lg-desktop
                                                {
                                                      max-width: 204px;
                                                }

                                                @include mobile
                                                {
                                                      max-width: 100%;
                                                }

                                                &:after
                                                {
                                                      display: none;
                                                }
                                                input[type="radio"]
                                                {
                                                      margin: 0px;
                                                      flex-shrink: 0;
                                                      margin-right: 8px;
                                                }

                                                label
                                                {
                                                      cursor: url(../images/cursor-link.png), auto!important;
                                                      color: $black;
                                                }
                                          }
                                    }

                                    .gfield_checkbox
                                    {
                                          padding: 0px;
                                          li
                                          {
                                                display: flex;
                                                justify-content: flex-start;
                                                align-items: flex-start;
                                                margin-bottom: 5px;
                                                padding-left: 0px;

                                                &:after
                                                {
                                                      display: none;
                                                }

                                                input[type="checkbox"]
                                                {
                                                      margin: 0px;
                                                      flex-shrink: 0;
                                                      margin-right: 8px;
                                                }

                                                label
                                                {
                                                      cursor: url(../images/cursor-link.png), auto!important;
                                                      color: $black;
                                                }
                                          }
                                    }

                                    .gfield_description
                                    {

                                          color: $black;
                                          font-size: 10px;
                                          line-height: 130%;
                                    }

                                    > .gfield_label
                                    {
                                          display: block;
                                          margin-bottom: 5px;
                                          color: $black;
                                          cursor: url(../images/cursor.png), auto!important;
                                    }

                                    .ginput_container_select
                                    {
                                          position: relative;
                                          width: 100%;
                                          border: solid 1px #edeae9;
                                          box-sizing: border-box;


                                          select
                                          {
                                                width: 100%;
                                                box-sizing: border-box;
                                                -moz-appearance: none;
                                                -webkit-appearance: none;
                                                -ms-progress-appearance: none;
                                                background: #fff;
                                                border: 0px;
                                                color: $black;
                                                padding: 4px;
                                                border-radius: 0px;

                                                font-size: 15px;
                                                transition: all 400ms cubic-bezier(0.250, 0.460, 0.450, 0.940);

                                                &:focus
                                                {
                                                      outline: 0px;
                                                }

                                                &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                                                      color: $black;
                                                      opacity: 1;
                                                  }

                                                &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                                                color: $black;
                                                opacity: 1;
                                                }

                                                &::-ms-input-placeholder { /* Microsoft Edge */
                                                color: $black;
                                                opacity: 1;
                                                }
                                          }
                                    }

                                    &.hide-label
                                    {
                                          > .gfield_label
                                          {
                                                display: none;
                                          }
                                    }

                                    textarea
                                    {
                                          max-height: 102px;
                                    }

                                    input[type="text"],
                                    input[type="email"],
                                    input[type="password"],
                                    textarea
                                    {
                                          width: 100%;
                                          max-width: 330px;
                                          box-sizing: border-box;
                                          -moz-appearance: none;
                                          -webkit-appearance: none;
                                          -ms-progress-appearance: none;
                                          background: $white;
                                          border: 0px;
                                          color: $black;
                                          resize: none;
                                          padding: 4px;
                                          border-radius: 0px;
                                          transition: all 400ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
                                          cursor: url(../images/cursor-link.png), auto!important;

                                          @include lg-desktop
                                          {
                                                max-width: 240px;
                                          }

                                          @include mobile
                                          {
                                                max-width: 100%;
                                          }

                                          &:focus
                                          {
                                                outline: 0px;
                                          }

                                          &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                                                color: $black;
                                                opacity: 1;
                                            }

                                          &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                                          color: $black;
                                          opacity: 1;
                                          }

                                          &::-ms-input-placeholder { /* Microsoft Edge */
                                          color: $black;
                                          opacity: 1;
                                          }
                                    }

                                    &.third
                                    {
                                          width: 31%;
                                    }

                                    &.half
                                    {
                                          width: 48.72340425531915%;
                                    }

                                    &.two-thirds
                                    {
                                          width: 65.5%;
                                    }
                              }
                        }
                  }

		}

            .gform_footer
		{
                  text-align: left;
                  position: absolute;
                  right: 0;
                  width: 444px;
                  bottom: 120px;

                  @include lg-desktop
                  {
                        width: 309px;
                        bottom: 80px;
                  }

                  @include desktop
                  {
                        width: 32%;
                        margin-top: 24px;
                        bottom: 30px;
                  }

                  @include mobile
                  {
                        position: static;

                  }

			.gform_button
			{
				-moz-appearance: none;
				-webkit-appearance: none;
				-ms-progress-appearance: none;
				transition: all 400ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
				background: transparent;
				color: $black;
				font-size: 20px;
				border: 0px;
				margin: 0px auto;
				text-align: left;
				text-decoration: underline;
				padding: 0px;
				cursor: url(../images/cursor-link.png), auto!important;

				@include mobile
				{
					font-family: '-apple-system', 'Roboto', 'Lucida Grande';
				}

				&:focus
				{
					outline: 0px;
				}
			}
		}
	}
}
body img.gform_ajax_spinner
{
    display: none!important;
}

.gform_confirmation_message_2
{
	width: 90%;
	@include font-size($body-font-sizes);
	margin-bottom: 1em;

	@include lg-desktop
	{
	  font-size: 15px;
	}
}

#gform_wrapper_2
{

	@include font-size($body-font-sizes);
	margin-bottom: 1em;

	@include lg-desktop
   {
     font-size: 15px;
   }

	form
	{

		.gfield
		{
			width: 100%;
			position: relative;
			outline: none;

			&.hide-label label
			{
				display: none;
			}

			input
			{
				width: 100%;
				border: none;
				padding: 8px;
				&::placeholder {
					color: #6f6e6e;
				}
			}
		}

		.gform_footer
		{
			width: auto;
		   bottom: 0;
			height: 100%;
				.gform_button
				{
					right: 8px;
					top: 50%;
					transform: translateY(-50%);
					position: absolute;
					width: 26px;
					text-decoration: none;
					color: #6f6e6e;

					&:hover {
						color: black;
					}
				}
		}
	}
}
