// Note: Globally defined styling

* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}

body {
    margin: 0;
}

::selection {
    background: $yellow; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: $yellow; /* Gecko Browsers */
}

.invisible-link
{
    line-height: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
}

.desktop-only
{
    @include desktop
    {
        display: none;
    }
}

.mobile-only
{
    display: none;
    @include desktop
    {
        display: block;
    }
}

.has-invisible-link
{
    position: relative;
}

a
{
    @include transition(all, 300ms);
    color: $black;
}

.owl-item
{
   // opacity: 0;
   // @include transition(opacity, 600ms);

    &.active
    {
   //     opacity: 1;
    }
}

.slider
{
    &:after
    {
        content: '(Swipe)';
        position: absolute;
        right: 100px;
        top: -30px;
        opacity: 0;
        pointer-events: none;
    }
    
    @include desktop
    { 
        &:after
        {
            opacity: 1;
        }
    }

    @include mobile
    {
        &:after
        {
            right: 0px;
        }
    }
}

.owl-prev,
.owl-next
{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    display: block;
    border: solid 4px #000!important;
    background-color: transparent!important;
    @include transition(background-color,300ms);
    position: absolute;

    &:hover
    {
        background-color: #000!important;
    }
    
    @include lg-desktop
    {
        width: 50px;
        height: 50px;
        border: solid 2px #000!important;
    }

    @include desktop
    {
        display: none;
    }
}

body,
.blog-wrapper__ajax-wrapper .blog-item.active .blog-item__overlay
{
    cursor: url(../images/cursor.png), auto!important;
}

a,
.blog-item
{
    cursor: url(../images/cursor-link.png), auto!important;
}

.owl-prev
{
    cursor: url(../images/prev.png), auto!important;
}

.owl-next
{
    cursor: url(../images/next.png), auto!important;
}

body,
.blog-wrapper__ajax-wrapper .blog-item.active .blog-item__overlay {
    cursor: url('../images/cursor.png') 10 10, auto!important;
    cursor: -webkit-image-set(
    url('../images/cursor.png') 1x,
    url('../images/cursor@2x.png') 2x
    ), auto;

    @include tablet
    {
        cursor: pointer!important;
    }

    }

    body a,
    body button,
    .blog-item,
    .owl-prev,
    .owl-next
     {
        cursor: url('../images/cursor-link.png') 10 10, auto!important;
        cursor: -webkit-image-set(
        url('../images/cursor-link.png') 1x,
        url('../images/cursor-link@2x.png') 2x 
        ), auto; 

        @include tablet
        {
            cursor: pointer!important;
        }
    }

.container
{
    padding-top: 84px;

    @include mobile
    {
          padding-top: 40px;
    }
}

.empty
{
    height: 0px;
    margin: 0px; 
    padding: 0px;
}

.inner-wrapper
{
    width: 100%;
    max-width: 1440px;
    margin: 0px auto;
    padding: 0px 36px;

    @include lg-desktop
    {
        max-width: 952px;
        padding: 0px;
    }

    @include desktop
    {
          padding: 0px 36px;
    }

    @include mobile
    {
          padding: 0px 15px;
    }

}

/*
@include b('row'){

}*/
