// NOTE: Define grid here

$grid-columns: 12;
$gutter: 12px; //modify this


// NOTE: example
// div.example {
//  @include col(6);
//}

@mixin row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

//Columns mixin
@mixin col($values) {
  width: 100%;
  flex: 0 0 auto;
  img {
    width:100%;
  }
  > div {
    display: inline-block;
  }
  @each $var in $values {
      max-width: calc(#{(100% / $grid-columns) * $var} -  #{($gutter / $var) * ($var - 1)});
      flex-basis: calc(#{(100% / $grid-columns) * $var} -  #{($gutter / $var) * ($var - 1)});
   }
     flex: 0 0 auto;
  }

// NOTE: pushes margin-left col($values)
@mixin push($values) {
  @each $var in $values {
       margin-left: calc(#{$gutter} + #{(100% / $grid-columns) * $var});
   }
}

.container {
  width: 100%;
  position: relative;
}

// NOTE: auto-centers within .container
// NOTE: Max width settings
@include b('inner-wrapper'){
  margin-left: auto;
  margin-right: auto;
  max-width: 95%;
  @include desktop {
    max-width: 90%;
  }
  @include xlg-desktop {
    max-width: 1366px;
  }
}