// Nav bar settings

@include b('menu') {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 1000;
  position: fixed;
    @include e('bar') {
      display: inline-block;
    }
    .menu-items {
      color: color(black);
      list-style: none;
      display: inline-block;
    }
}
