// Spacing

/**
 *  Spacing Map
 *  Example usage:
 *
 *  $purple-spacing: (
 *    null  : (20px),
 *    small : 20px,
 *    medium: 40px
 *  );
 *
 *  .test{
 *    @include spacing(padding-bottom, $purple-spacing);
 *  }
 */

$red-spacing: (
    null : (5px), // large * 0.7
    small : .602vw,
    large: 8px
);

$pink-spacing: (
    null : (11px),
    small : 1.204vw,
    large: 16px
);

$blue-spacing: (
    null : (17px),
    small : 1.807vw,
    large: 24px
);

$cyan-spacing: (
    null : (22px),
    small : 2.409vw,
    large: 32px
);

$green-spacing: (
    null : (33px),
    small : 3.614vw,
    large: 48px
);

$yellow-spacing: (
    null : (50px),
    small : 5.421vw,
    large: 72px
);

$brown-spacing: (
    null : (77px),
    small : 7.83vw,
    large: 104px
);

$orange-spacing: (
    null : (20px),
    small : 11.45vw,
    large: 152px
);
