/**
 *  Typography
 */

//## Input external font here

@font-face {
  font-family: 'Suisse';
  src:  url('../fonts/SuisseIntl-Book-WebM.eot');
  src:  url('../fonts/SuisseIntl-Book-WebM.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SuisseIntl-Book-WebM.ttf') format('truetype'),
    url('../fonts/SuisseIntl-Book-WebM.woff') format('woff'),
    url('../fonts/SuisseIntl-Book-WebM.woff2') format('woff2'),
    url('../fonts/SuisseIntl-Book-WebM.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


$font-family: "Suisse", sans-serif;

/**
 *  Font weight variables
 */
$x-bold: 700;
$bold: 500;
$normal: 300;

b,
strong {
  font-weight: normal;
}

/**
 *  Font sizes
 *
 *	Map options: null, x-small, small, medium, large, x-large
 *
 */

$body-font-sizes: (
  null  : (21px)
);

$p-font-sizes: (
  null  : (21px, 26px)
);

$h1-font-sizes: (
  null  : (67px, 84px),
  small : (67px, 84px),
  medium: (67px, 84px),
	large: (67px, 84px)
);

$h2-font-sizes: (
  null  : (20px, 25px),
  small : 26px,
  medium: (32px, 40px)
);

//H1 And H2 the same to be used for SEO

$h3-font-sizes: (
  null  : (28px, 36px),
  small  : (28px, 36px),
  medium: (28px, 36px),
	large: (28px, 36px),
);

$h4-font-sizes: (
  null  : (18px, 1.4),
  small : 17px,
  medium: 20px
);

$h5-font-sizes: (
  null  : (18px, 1.4),
  small : 17px,
  medium: 14px
);


$medium-font-sizes: (
  null  : (22px, 1.2),
  //small : 17px,
  medium: (22px, 1.2),
  large: (1.4vw, 1.2em)
);

p, h1, h2, h3, h4, h5{
  font-family: $font-family;
}

p,
h2.pargraph-title
{
  margin-top: 0px;
  @include font-size($p-font-sizes);
  font-weight: 300;

  @include lg-desktop
  {
    font-size: 15px;
    line-height: 18px;
  }

  /*@include mobile
  {
    font-size: 13px;  
  }*/
}

body{
  @include font-size($body-font-sizes);

  @include lg-desktop
  {
    font-size: 15px;
  }
}

h1, h2, p.header-size{
  @include font-size($h1-font-sizes);
  font-weight: 300;
  margin:0 0 1em 0;

  @include lg-desktop
  {
    font-size: 48px;
    line-height: 60px;
  }
  
  @include mobile-small
  {
    font-size: 38px;
    line-height: 43px;
  }
}

.large-paragraph p
{
  @include font-size($h3-font-sizes);
  font-weight: 300;
  
  @include lg-desktop
  {
    font-size: 20px;
    line-height: 24px;
  }
}

h3{
  @include font-size($h3-font-sizes);
  font-weight: 300;
  margin: 0px;

  @include lg-desktop
  {
    font-size: 20px;
    line-height: 24px;
  }
}

h4{
  @include font-size($h4-font-sizes);
  font-weight: 300;
}

h5{
  @include font-size($h5-font-sizes);
  font-weight: 300;
}
